
.logo{
    width: 100px;
}
.name{
    color:antiquewhite;
    font-size: 40px;
    text-decoration: none;
    margin-top: 27px;
    transition: all 0.5s;
}
.name:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}
.header{
    display:flex;
    justify-content: space-around;
}
body{
    margin:0px;
    padding: 0px;
    background-color: rgb(157, 185, 116)
}
#questionnaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.2s;
}
p{
    text-align: center;
}
p:hover{
    transform: scale(1.4);
}
#submit{
    padding:18px;
    padding-right:30px;
    padding-left: 30px;
    color:white;
    border-radius: 30px;
    background-color: rgb(83, 147, 95);
    border: none;
    margin-bottom: 30px;
    transition: all 0.5s;
}
#submit:hover{
    transform: scale(1.4);
    border-radius: 20px;
    box-shadow: 3px 3px 9px rgb(98, 97, 97);
}
#submit:active{
    opacity: 0.4;
}
#title{
    text-align: center;
    color:bisque;
    font-size: 40px;
    text-decoration: overline underline;
    text-underline-offset: 10px;
    text-decoration-color: black;
    margin-bottom: 50px;
}
#scoreDisplay{
    text-align: center;
    text-decoration: underline;
}
#feedBackHolder{
    margin-bottom: 50px;
}
.feedBackResponse{
    margin-left:100px;
    margin-right:100px;
    color:white;
    margin-bottom: 10px;
    font-size: 20px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}